{% extends 'parksys/base.html' %}
{% block stylesheet %}
    <!-- DataTables -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='plugins/datatables-select/css/select.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">

{% endblock %}
{% block contentheader %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">过车数据</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ url_for('parksys.indexpage') }}">首页</a></li>
                <li class="breadcrumb-item active">过车数据</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                {#                <div class="card-header">#}
                {#                    <h3 class="card-title">停车场信息</h3>#}
                {#                </div>#}
                <!-- /.card-header -->

                <div class="card-body">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            {#                            <li style="display:inline-block">#}
                            {#                                <a href="#">#}
                            {#                                <button type="button" class="btn btn-block btn-default">添加车辆入场</button>#}
                            {#                                </a>#}
                            {#                            </li>#}
                            {#                            <li style="display:inline-block"><input type="text" class="form-control"></li>#}
                            {#                            <li style="display:inline-block"><a href="#"><button type="button" class="btn btn-block btn-default" id="search">查询</button></a></li>#}

                            <li class="col-md-5" style="display: inline-block">
                                <!-- Date and time range -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">入场时间:</span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="intimerange"
                                               onclick="customRangeLabelan()" readonly="readonly"
                                               style="background: transparent;">
                                    </div>
                                </div>
                                <!-- Date and time range -->
                            </li>
                            <li class="col-md-3" style="display: inline-block">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">停车场:</span>
                                        </div>
                                        <input type="text" class="form-control" id="searchpark" placeholder="请输入停车场">
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-3" style="display: inline-block">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">车牌:</span>
                                        </div>
                                        <input type="text" class="form-control" id="searchcarno" placeholder="请输入车牌">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-info btn-flat" id="search">查询</button>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <table id="cardata" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>停车场名称</th>
                            <th>车牌</th>
                            <th>进场时间</th>
                            <th>出场时间</th>
                            <th>进场通道</th>
                            <th>出场通道</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-select/js/dataTables.select.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
    <!-- date-range-picker -->
    <script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
    <!-- page script -->
    <script>
        // 默认打开自定义面板
        function customRangeLabelan() {
            $('.ranges li:eq(6)').click();
        }
        // 搜索
        var searchcarno = '';
        var begintime1 = moment().startOf('day').format('YYYY-MM-DD HH:mm:ss');
        var endtime1 = moment().endOf('day').format('YYYY-MM-DD HH:mm:ss');
        var searchpark = '';
        $("#search").click(function () {
            searchcarno = $('#searchcarno').val().replace(/\s*/g, "");
            var t= $('#intimerange').val().split("~");
            begintime1 = t[0];
            endtime1 = t[1];
            searchpark =$('#searchpark').val().replace(/\s*/g, "");
            reloadDatatables()
            //alert(searchkey);
        });
        // 进场时间范围选择
        $(function () {
            var intimepicker = $('#intimerange').daterangepicker({
                timePicker: true,
                timePickerIncrement: 1,
                timePicker24Hour: true,
                timePickerSeconds: true,
                startDate: moment().startOf('day'),
                endDate: moment().endOf('day'),
                showSecond: true,
                ranges: {
                    '今天': [moment().startOf('day'), moment().endOf('day')],
                    '昨天': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                    '最近7天': [moment().subtract('days', 6).startOf('day'), moment().endOf('day')],
                    '最近30天': [moment().subtract('days', 29).startOf('day'), moment().endOf('day')],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'months').startOf('month'), moment().subtract(1, 'months').endOf('month')]
                },
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                    firstDay: 1,
                    applyLabel: "应用",
                    cancelLabel: "取消",
                    customRangeLabel: '自定义',
                    separator: '~',
                },
            });
            intimepicker.on('apply.daterangepicker', function (ev, picker) {
                t = $('#intimerange').val().split("~");
                var begintime = t[0];
                var endtime = t[1];
                console.log(begintime, endtime);
            });
        });

        // 格式化datatables中的时间

        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份

                "d+": this.getDate(), //日

                "h+": this.getHours(), //小时

                "m+": this.getMinutes(), //分

                "s+": this.getSeconds(), //秒

                "q+": Math.floor((this.getMonth() + 3) / 3), //季度

                "S": this.getMilliseconds() //毫秒

            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        };

        // datatables 方法
        $(function () {
            reloadDatatables()
        });
        var reloadDatatables = function () {
            // 初始化  datatables
            var tables = $('#cardata').DataTable({
                select: 'single',
                destroy: true,
                searching: false,
                ordering: false,
                'bAutoWidth': false,
                "deferRender": true,
                "pagingType": "full_numbers",
                "language": {"url": "{{ url_for('static', filename='plugins/datatables/language.json') }}"},
                "serverSide": true, //开启服务器模式
                "ajax": function (data, callback) {
                    var param = {};
                    param.draw = data.draw;
                    param.start = data.start;
                    param.length = data.length;
                    param.page = param.start / param.length + 1; //计算页码
                    param.carno = searchcarno;
                    param.parkname = searchpark;
                    //var searchstr = $('#searchcarno').val().replace(/\s*/g, "");
                    //var timerange = $('#intimerange').val().split("~");
                    param.begintime = begintime1;
                    param.endtime = endtime1;
                    console.log(begintime1, endtime1);
                    var paramString = JSON.stringify(param);
                    console.log('paramString: ' + paramString);
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('parksys.carinout') }}",
                        data: paramString,
                        dataType: 'json',
                        success: function (res) {
                            var returnData = {};
                            returnData.draw = res.draw; // 计数器
                            returnData.recordsTotal = res.recordsTotal;//返回数据全部记录
                            returnData.recordsFiltered = res.recordsFiltered;//过滤后记录
                            returnData.data = res.data; // 数据对象
                            console.log(returnData.data);
                            callback(returnData);
                        },
                        error: function () {
                            alert('错误');
                        }
                    })
                },
                "columns": [
                    {"data": "id"},
                    {"data": "parkname"},
                    {"data": "plate_no"},
                    {
                        "data": "in_time",
                        {#render: function (data, type, row, meta) {#}
                        {#    return (new Date(data)).Format("yyyy-MM-dd hh:mm:ss");#}
                        //}
                    },
                    {
                        "data": "out_time",
                        {#render: function (data, type, row, meta) {#}
                        {#    if (data) {#}
                        {#        return (new Date(data)).Format("yyyy-MM-dd hh:mm:ss");#}
                        {#    } else {#}
                        {#        return data = '';#}
                        {#    }#}
                        {#    //return (new Date(data)).Format("yyyy-MM-dd hh:mm:ss");#}
                        //}
                    },
                    {"data": "in_port"},
                    {"data": "out_port"}
                ]
            });
        };
    </script>
{% endblock %}
