{% extends 'parksys/base.html' %}
{% block stylesheet %}
    <!-- DataTables -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='plugins/datatables-select/css/select.bootstrap4.css') }}">

{% endblock %}
{% block contentheader %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">停车场信息</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ url_for('parksys.indexpage') }}">首页</a></li>
                <li class="breadcrumb-item active">停车场信息</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                {#                <div class="card-header">#}
                {#                    <h3 class="card-title">停车场信息</h3>#}
                {#                </div>#}
                <!-- /.card-header -->

                <div class="card-body">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li style="display:inline-block"><a href="{{ url_for('parksys.newpark') }}">
                                <button type="button" class="btn btn-block btn-default">添加</button>
                            </a></li>
                            <li style="display:inline-block"><a href="#">
                                <button type="button" class="btn btn-block btn-default" id="update">修改</button>
                            </a></li>
                            <li style="display:inline-block"><a href="#">
                                <button type="button" class="btn btn-block btn-default" id="delbut">删除</button>
                            </a></li>
                            <li style="display:inline-block"><a href="#">
                                <button type="button" class="btn btn-block btn-default">导出</button>
                            </a></li>
                            {#                            <li style="display:inline-block"><input type="text" class="form-control"></li>#}
                            {#                            <li style="display:inline-block"><a href="#"><button type="button" class="btn btn-block btn-default" id="search">查询</button></a></li>#}
                            <li style="display: inline-block">
                                <div class="input-group input-group-md">
                                    <input type="text" class="form-control" id="searchkey" placeholder="请输入停车场名称">
                                    <span class="input-group-append">
                                    <button type="button" class="btn btn-info btn-flat" id="search">查询</button>
                                  </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <table id="parkdata" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <!--th>编号</th-->
                            <th>名称</th>
                            <th>地址</th>
                            <th>联系人</th>
                            <th>类型</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-select/js/dataTables.select.js') }}"></script>
    <!-- page script -->
    <script>
        {#    全局搜索变量，查询#}
        var searchkey = '';
        $("#search").click(function () {
            searchkey = '';
            searchkey = $('#searchkey').val().replace(/\s*/g, "");
            reloadDatatables()
            //alert(searchkey);
        });
        $(function () {
            reloadDatatables();
        });
        var reloadDatatables = function () {
            // 初始化  datatables
            var tables = $('#parkdata').DataTable({
                select: 'single',
                destroy: true,
                searching: false,
                ordering: false,
                'bAutoWidth': false,
                "pagingType": "full_numbers",
                "language": {"url": "{{ url_for('static', filename='plugins/datatables/language.json') }}"},
                "serverSide": true, //开启服务器模式
                "ajax": function (data, callback) {
                    var param = {};
                    param.draw = data.draw;
                    param.start = data.start;
                    param.length = data.length;
                    param.page = param.start / param.length + 1; //计算页码
                    param.search = searchkey;
                    //if (searchstr.length > 0) {
                    //    param.search = searchstr;
                    //} else {
                    //    param.search = '';
                    //    console.log('无搜索参数')
                    //}
                    //param.page = 1; //计算页码
                    //console.log('为转换前： ' + typeof param);
                    //console.log('为转换前： ' + param);
                    //console.log('转换为stringify' + JSON.stringify(param));
                    //console.log('转换为stringify type ' + typeof JSON.stringify(param));
                    var paramString = JSON.stringify(param);
                    console.log('paramString: ' + paramString);
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('parksys.getpark') }}",
                        data: paramString,
                        dataType: 'json',
                        success: function (res) {
                            var returnData = {};
                            returnData.draw = res.draw; // 计数器
                            returnData.recordsTotal = res.recordsTotal;//返回数据全部记录
                            returnData.recordsFiltered = res.recordsFiltered;//过滤后记录
                            returnData.data = res.data; // 数据对象
                            console.log(returnData.data);
                            callback(returnData);
                        },
                        error: function () {
                            alert('查询出错，请重试');
                        }
                    })
                },
                "columns": [
                    //{"data": "id"},
                    {"data": "name"},
                    {"data": "addr"},
                    {"data": "contact"},
                    {
                        "data": "type",
                        "render": function (data, type, full, meta) {
                            if (data === 0) {
                                return data = '公共';
                            } else {
                                return data = '私人';
                            }
                        }
                    },
                    {
                        "data": "state",
                        "render": function (data, type, full, meta) {
                            if (data === 1) {
                                return data = '启用';
                            }
                        }
                    },
                ]
            });
            // 行选中
            var parkcode = '';
            $('#parkdata tbody').on('click', 'tr', function () {
                {#alert($(this).hasClass('selected'));#}
                if ($(this).hasClass('selected')) {
                    // 这个点击的时候如果有selected,该次点击则取消selected,parkid置空
                    parkcode = '';
                    console.log('取消选择');
                } else {
                    parkcode = tables.row(this).id();
                    console.log('选中' + parkcode);
                }
            });
            // 查询
            //$('#search').click(function () {
                {#tables.draw();#}
            //    reloadDatatables()
            //});
            // 绑定删除按钮，删除停车场
            var delbut = document.querySelector('#delbut');
            delbut.onclick = function () {
                if (parkcode !== '') {
                    var con = confirm('确认删除吗？');
                    console.log('准备删除id: ' + parkcode);
                    console.log('parkcode=' + parkcode);
                    if (con === true) {
                        $.ajax({
                            url: '{{ url_for('parksys.delpark') }}',
                            type: 'POST',
                            data: parkcode,
                            dataType: 'json',
                            success: function (res) {
                                if (res['status'] === 'success') {
                                    alert('删除成功');
                                    window.location.href = '{{ url_for('parksys.getpark') }}'
                                } else {
                                    alert('删除失败');
                                }
                            }
                        });
                    } else {
                        console.log('cancel');
                    }
                } else {
                    alert('请选择要删除的停车场！');
                }
            };
            // 跳转到信息修改页面
            var update = document.querySelector('#update');
            update.onclick = function () {
                if (parkcode !== '') {
                    console.log('{{ url_for('parksys.updatepark') }}?parkcode=' + parkcode);
                    window.location.href = '{{ url_for('parksys.updatepark') }}?parkcode=' + parkcode;
                } else {
                    alert('请选择要修改的停车场！');
                }
            }
        };
    </script>
{% endblock %}
